{% extends 'base.html'%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load static%}

{% block content %}
        <div class="row">
            <div class="col-md-3">
                <img src="static/image/Beef.jpg" width="400px" height="265px">

            </div>
                <div class="col-md-3">
                        <img src="static/image/bhajia.jpg" width="400px">
                </div>
                <div class="col-md-3">
                        <img src="static/image/pilau.jpg" width="400px">
                </div>
                <div class="col-md-3">
                <img src="static/image/githeri.jpg" width="350px" height="265px">
            </div>

        </div>
        <div class="row">
                <div class="col-md-3">
                    <img src="static/image/bunburger.jpg" width="350px" height="265px">
    
                </div>
                    <div class="col-md-3">
                            <img src="static/image/cabbage.jpg" width="350px" height="265px">
                    </div>
                    <div class="col-md-3">
                            <img src="static/image/chicken1.jpg" width="400px" height="265px">
                    </div>
                    <div class="col-md-3">
                    <img src="static/image/chickengrilled.jpg" width="350px" height="265px">
                </div>
    
            </div>   
            <div class="row">
                    <div class="col-md-3">
                        <img src="static/image/chickenroastsoupfood.jpg" width="400px" height="265px">
        
                    </div>
                        <div class="col-md-3">
                                <img src="static/image/dinner.jpg" width="400px" height="265px"> 
                        </div>
                        <div class="col-md-3">
                                <img src="static/image/fishherbsslices.jpg" width="400px" height="265px">
                        </div>
                        <div class="col-md-3">
                        <img src="static/image/frenchfries.jpg" width="350px" height="265px">
                    </div>
        
                </div>  
                <div class="row">
                        <div class="col-md-3">
                            <img src="static/image/frenchfriesgreens.jpg" width="400px" height="265px">
            
                        </div>
                            <div class="col-md-3">
                                    <img src="static/image/friedonion.jpg" width="400px" height="265px">
                            </div>
                            <div class="col-md-3">
                                    <img src="static/image/noodles.jpg" width="400px" height="265px">
                            </div>
                            <div class="col-md-3">
                            <img src="static/image/frenchfries.jpg" width="350px" height="265px">
                        </div>
            
                    </div>  
                    <div class="row">
                            <div class="col-md-3">
                                <img src="static/image/meatbeefvegetablessauce.jpg" width="400px" height="265px">
                
                            </div>
                                <div class="col-md-3">
                                        <img src="static/image/meatdinnersauce.jpg" width="400px" height="265px">
                                </div>
                                <div class="col-md-3">
                                        <img src="static/image/otaton.jpg" width="400px" height="265px">
                                </div>
                                <div class="col-md-3">
                                <img src="static/image/potatoesbeeflettuce.jpg" width="350px" height="265px">
                            </div>
                
                        </div>     
<style> 

.img{
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
transition: all 0.3s ease 0s;
cursor: pointer;
border-radius: 10px;
width: 100% !important;
}

.img:hover{
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
opacity: 0.7;
overflow: hidden;
transition: .5s ease;
transform: translateY(-7px);
        }
      </style>
{% endblock %}


