<nav class="navbar navbar-expand-lg " style="background-color:white;">
  <a class="navbar-brand" href="#" style="color:black;">YUMMY DEALS</a> 
  <img src="static/image/food2.png" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <div class="container-fluid">
      <div class="col-sm-4 col-md-4">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" >Home</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a href="/accounts/login"   style="margin-left:150px; color:white;" ; class="btn btn-primary">LOGIN /SIGNUP </a>
        </li>
  
        {% endif %}
      </div>
    </div>
    <form class="form-inline my-1 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="&#xF002;  Search" name="username" style="font-family:FontAwesome;text-align:center;">
     
    </form>
  </div>
</nav>

<style>
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
 body{
 background-color:orangered;
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 height: 550px;
  
 }
 .nav{
background-color: #581845;

 }
  }
  @font-face {
    font-family: billabong;
    src: url('/static/fonts/Billabong.ttf');
    font-weight: bold;
  }
</style>